{% extends 'Base/base.html' %}
{% load static %}
{% block menu %}
  <section class = "nav_sec">
                <ul>
                    <li><a href="{% url 'Base:tarjimayi_hol' %}">Tarjimayi hol</a></li>
                    <li style="background-image: url({% static 'Base/images/heritage-bg.png' %})"><a href="{% url 'Search:search' %}">Korpus bo'yicha qidiruv</a></li>
                    <li><a href="{% url 'Devon:devon' %}">Devonlari</a></li>
                    <li><a href="{% url 'Asar:asar' %}">Asarlari</a></li>
                    <li class = "badoee activve"><a href="">"Badoye` ul-vasat"</a>
                        <ul  class = "Badoe">
                            <li><a href="{% url 'Gazal:gazal' %}">G'azallar</a></li>
                             <li><a href="{% url 'Devon:janr' %}">Boshqa janrlar</a></li>
                            <li><a href="{% url 'maqol_ibora:maqol' %}">Maqollar</a></li>
                            <li><a href="{% url 'maqol_ibora:ibora' %}">Iboralar</a></li>
                            <li class = "sanatt"><a href="">She`riy san`atlar</a>
                                <ul class ="Sanat">
                                    <li><a href="{% url 'sheriy_sanat:talmeh' %}">Talmeh</a></li>
                                    <li><a href="{% url 'sheriy_sanat:tanosib' %}">Tanosib</a></li>
                                    <li><a href="{% url 'sheriy_sanat:tazod' %}">Tazod</a></li>
                                     <li><a href="{% url 'sheriy_sanat:tashbeh' %}">Tashbih</a></li>
                                </ul>
                            </li>
                            <li class = "activve"><a href="{% url 'Arxaizm_istorizm:arzaizm' %}">Arxaizm</a></li>
                            <li><a href='{% url 'Arxaizm_istorizm:istorizm' %}'>Istorizm</a></li>

                        </ul>
                    </li>
                    <li><a href="{% url 'Base:korpus_haqida' %}">Alisher Navoiy korpusi haqida</a></li>
                    <li><a href="{% url 'Base:maqola' %}">Korpusga oid maqolalar</a></li>
                    <li><a href="{% url  'Base:mualliflar' %}"> Korpus Mualliflari </a></li>
                </ul>
            </section>
{% endblock %}


{% block content %}

    <section style="background-image: url({% static 'Base/images/Middle-bg.png' %})" class = "main_back main1">
        <div class = "sec_div" style="margin-top:150px;">
            <h1>"Badoye` ul-vasat" devoni g`azallarida uchragan arxaizmlar</h1>

            <h3 style="color: darkred;">Arxaizmlar soni: <i>{{ soz_soni }} ta</i></h3>
            <hr class = "line">

            <table class = "meta">
                {% for sozlar in soz %}
                <tr>
                    <td class = "line">{{ sozlar.soz }}</td>
                    <td>{{ sozlar.mano }}</td>
                </tr>
{% endfor %}
            </table>

{#             <div class="pagination">#}
{#                {% if soz.has_previous %}#}
{#                <a href="?page={{ soz.previous_page_number }}">Prev</a>#}
{#                      {% else %}#}
{#                     <a class = "select2-container--disabled" href="#">Prev</a>#}
{#                {% endif %}#}
{#  {% if soz.has_previous  %}#}
{#                <a href="?page={{ soz.previous_page_number }}">{{ soz.previous_page_number }}</a>#}
{#            {% endif %}#}
{#                <a href="?page={{ soz.number }}" class="active">{{ soz.number }}</a>#}
{# {% if soz.has_next %}#}
{#                <a href="?page={{ soz.next_page_number }}">{{ soz.next_page_number }}</a>#}
{#            {% endif %}#}
{##}
{#        {% if soz.has_next %}#}
{#                <a href="?page={{ soz.next_page_number }}">Next</a>#}
{#            {% else %}#}
{#            <a class = "select2-container--disabled" href="#">Next</a>#}
{#            {% endif %}#}
{#            </div>#}

        </div>
    </section>

{% endblock %}